<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingangtech.unimobilebridge">

    <!-- 健康数据权限 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    
    <!-- 日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

</manifest>
